/* === start of variable === */
$clr-primary-1: #2f3e46;
$clr-primary-2: #354f52;
$clr-primary-3: #52796f;
$clr-primary-4: #84a98c;
$clr-primary-5: #cad2c5;
$clr-grey-1:#102a42;
$clr-grey-2: #617d98;
$clr-grey-3: rgba(241, 245, 248);
$clr-white: #ffffff;
$transition: all 0.3s linear;
$redius: 0.5rem;
$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
/* === end of variable === */
/* === start of base === */
@font-face {
    font-family: name;
    src: url(../Font/name.ttf) format(ttf);
    src: url(../Font/name.eot) format(eot), url(../Font/name.woff) format(woff),
        url(../Font/name.woff2) format(woff2);
}

@media screen and (min-width: 2000px) {
    // html {
    //     display: flex;
    //     justify-content: center;
    // }
}

:root {
    direction: ltr;
    font-family: name;
    font-size: 16px;
}

body {
    // display: grid;
    // grid-template-rows: repeat(3, auto);
    // max-width: 2000px;
    min-width: 320px;
    // box-sizing: border-box;
    // box-sizing: content-box;
}

.line {
    background-color: $clr-primary-2;
    height: 0.2rem;
    width: 6rem;
    margin-bottom: 1rem;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    color: $clr-white;
    background-color: $clr-primary-1;
}

.btn:hover {
    background-color: $clr-primary-3;
    color: $clr-white;
}
/* === end of base === */
/* === start of function === */

/* === end of function === */
