/* === start of variable === */
$clr-primary-1: #2f3e46;
$clr-primary-2: #354f52;
$clr-primary-3: #52796f;
$clr-primary-4: #84a98c;
$clr-primary-5: #cad2c5;
$clr-grey-1:#102a42;
$clr-grey-2: #617d98;
$clr-grey-3: rgba(241, 245, 248);
$clr-white: #ffffff;
$transition: all 0.3s linear;
$redius: 0.5rem;
$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
/* === end of variable === */
/* === start of section === */
.hero {
    & {
        padding: 2rem 4rem;
        padding-left: 3rem;
        height: 100vh;
        background-color: $clr-primary-5;
    }

    .right {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        // align-items: center;
        justify-content: center;
        // align-content: center;
    }

    .btn {
        width: 8rem;
    }

    h1 {
        margin-bottom: 1rem;
    }

    .icons {
        max-width: 360px;
    }

    .icons .bi {
        font-size: 1.5rem;
        color: black;
        transition: $transition;
    }

    .icons .bi:hover {
        color: $clr-primary-3;
    }
}
/* === end of section === */
/* === start of function === */
@media screen and (min-width: 768px) {
    .hero {
        & {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
        }

        .left {
            text-align: center;
            margin: 0rem;
        }

        .left img {
            position: relative;
            border-radius: 0.5rem;
            width: 300px;
            height: 450px;
            z-index: 2;
            object-fit: cover;
        }

        .border-parent {
            position: relative;
            // width: 300px;
            // height: 450px;
        }

        .left .img-border {
            position: absolute;
            object-fit: cover;
            display: block;
            width: 300px;
            height: 450px;
            border: 0.25rem solid $clr-primary-2;
            border-radius: 0.5rem;
            top: 2rem;
            left: 2rem;
            // z-index: 2;
        }
    }
}
/* === end of function === */ 