/* === start of variable === */
$clr-primary-1: #2f3e46;
$clr-primary-2: #354f52;
$clr-primary-3: #52796f;
$clr-primary-4: #84a98c;
$clr-primary-5: #cad2c5;
$clr-grey-1:#102a42;
$clr-grey-2: #617d98;
$clr-grey-3: rgba(241, 245, 248);
$clr-white: #ffffff;
$transition: all 0.3s linear;
$redius: 0.5rem;
$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
/* === end of variable === */
/* === start of section === */
.projects {
    & {
        padding: 2rem;
    }

    p {
        max-width: 700px;
        margin: 0rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $redius;
        transition: $transition;
    }

    .project {
        background-color: $clr-grey-1;
        border: none;
        border-radius: $redius;
        position: relative;
    }

    .p-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: $clr-white;
        z-index: 3;
        padding: 1rem;
        transition: $transition;
    }

    h6, p {
        transition: $transition;
        font-size: medium;
    }

    .p-center:hover h6, .p-center:hover p {
        font-size: large;
    }

    .project:hover .p-center {
        opacity: 1;
    }

    .project::after {
        content: " ";
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: $redius;
        opacity: 0;
        border: 5px solid white;
        transition: $transition;
    }

    .project:hover img {
        opacity: 0.2;
    }

    .project:hover::after {
        opacity: 1;
        transform: scale(80%);
    }

    .gp-4 img {
        object-position: 10% 40%;
    }
}
/* === end of section === */
/* === start of function === */
@media screen and (max-width: 568px) {
    .projects .grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 568px) {
    .projects .grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 920px) {
    .projects .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 200px 250px;
        grid-template-areas:
        "b b b a a a"
        "b b b c c d"
        ;
    }

    .projects .gp-1 {
        grid-area: a;
    }

    .projects .gp-2 {
        grid-area: b;
    }

    .projects .gp-3 {
        grid-area: c;
    }

    .projects .gp-4 {
        grid-area: d;
        object-position: 10% 40%;
    }
}

@media screen and (min-width: 1200px) {
    .projects .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-template-areas:
        "c c c c a a"
        "d d b b a a"
        ;
    }

    .projects .gp-1 {
        grid-area: a;
    }

    .projects .gp-2 {
        grid-area: b;
    }

    .projects .gp-3 {
        grid-area: c;
    }

    .projects .gp-4 img {
        grid-area: f;
    }
}
/* === end of function === */ 