/* === start of variable === */
$clr-primary-1: #2f3e46;
$clr-primary-2: #354f52;
$clr-primary-3: #52796f;
$clr-primary-4: #84a98c;
$clr-primary-5: #cad2c5;
$clr-grey-1:#102a42;
$clr-grey-2: #617d98;
$clr-grey-3: rgba(241, 245, 248);
$clr-white: #ffffff;
$transition: all 0.3s linear;
$redius: 0.5rem;
$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
/* === end of variable === */
/* === start of section === */
.services {
    & {
        padding: 2rem;
        text-align: center;
        background: $clr-primary-5;
    }

    .service {
        padding: 3rem 1rem;
        border-radius: $redius;
        background-color: white;
        max-width: 500px;
        margin: auto;
        transition: $transition;
    }

    .service:hover {
        background-color: $clr-primary-2;

    }

    .service:hover a {
        color: white;
    }

    .grid .line {
        margin: auto;
        margin-bottom: 1rem;
        height: 0.12rem;
        width: 4rem;
    }

    p {
        padding-top: 1rem;
    }

    a {
        color: black;
        text-decoration: none;
    }
}
/* === end of section === */
/* === start of function === */
@media screen and (max-width: 1023px) {
    .services .grid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    .services .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    } 
}
/* === end of function === */ 