/* === start of variable === */
/* === end of variable === */
/* === start of base === */
@font-face {
  font-family: name;
  src: url(../Font/name.ttf) format(ttf);
  src: url(../Font/name.eot) format(eot), url(../Font/name.woff) format(woff), url(../Font/name.woff2) format(woff2);
}
:root {
  direction: ltr;
  font-family: name;
  font-size: 16px;
}

body {
  min-width: 320px;
}

.line {
  background-color: #354f52;
  height: 0.2rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #ffffff;
  background-color: #2f3e46;
}

.btn:hover {
  background-color: #52796f;
  color: #ffffff;
}

/* === end of base === */
/* === start of function === */
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of header === */
header .sidebar-links {
  text-align: center;
  font-size: 1.5rem;
  color: #354f52;
}
header .nav-link:hover, header .sidebar-icons .bi:hover {
  color: #52796f;
}

nav {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  right: 0%;
  background-color: #cad2c5;
  transition: all 0.3s linear;
  z-index: 5;
}
nav .nav-btn .bi::before {
  font-size: 2rem;
  font-weight: bold !important;
}
nav .nav-btn:active {
  color: #2f3e46;
}
nav .navbar-brand a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0rem;
  left: 0%;
  right: 0%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.sidebar {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background: #cad2c5;
  z-index: 5;
  transform: translateY(-100%);
  transition: all 0.3s linear;
}
.sidebar .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: #bb2525;
  font-size: 2.5rem;
  border: none;
  transition: all 0.3s linear;
}
.sidebar .close-btn:hover {
  color: #e66b6b;
}
.sidebar .sidebar-icons .bi {
  font-size: 1.5rem;
  color: black;
  transition: all 0.3s linear;
}

.sidebar-show {
  transform: translateX(0%);
}

/* === end of header === */
/* === start of function === */
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.hero {
  padding: 3rem;
  padding-top: 6rem;
  height: 100vh;
  background-color: #cad2c5;
}
.hero h1 {
  margin-bottom: 1rem;
}
.hero .icons {
  max-width: 360px;
}
.hero .icons .bi {
  font-size: 1.5rem;
  color: black;
  transition: all 0.3s linear;
}
.hero .icons .bi:hover {
  color: #52796f;
}

/* === end of section === */
/* === start of function === */
@media screen and (min-width: 768px) {
  .hero {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .hero .left {
    text-align: center;
    margin: 0rem 2rem;
  }
  .hero .left img {
    position: relative;
    border-radius: 0.5rem;
    width: 350px;
    height: 500px;
    z-index: 2;
  }
  .hero .border-parent {
    position: relative;
    width: 350px;
    height: 500px;
  }
  .hero .left .img-border {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    width: 350px;
    height: 500px;
    border: 0.25rem solid #354f52;
    border-radius: 0.5rem;
    top: 2rem;
    left: 2rem;
  }
}
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.about {
  padding: 3rem;
}
.about .border-parent {
  position: relative;
  width: 224px;
  height: 382px;
}
.about .img-border {
  position: absolute;
  display: block;
  width: 192px;
  height: 350px;
  border: 0.25rem solid #354f52;
  border-radius: 0.5rem;
  top: 2rem;
  left: 2rem;
}
.about img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  width: 192px;
  height: 350px;
  margin-right: 3rem;
  z-index: 2;
}

/* === end of section === */
/* === start of function === */
@media screen and (max-width: 768px) {
  .about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.services {
  padding: 3rem;
  text-align: center;
  background: #cad2c5;
}
.services .service {
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  max-width: 500px;
  margin: auto;
  transition: all 0.3s linear;
}
.services .service:hover {
  background-color: #354f52;
  color: white;
}
.services .grid .line {
  margin: auto;
  margin-bottom: 1rem;
  height: 0.12rem;
  width: 4rem;
}
.services p {
  padding-top: 1rem;
}
.services a {
  color: black;
  text-decoration: none;
}

/* === end of section === */
/* === start of function === */
@media screen and (max-width: 1023px) {
  .services .grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .services .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.projects {
  padding: 3rem;
}
.projects p {
  max-width: 700px;
  margin: 0rem;
}
.projects img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
}
.projects .project {
  background-color: #102a42;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}
.projects .p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #ffffff;
  z-index: 3;
  padding: 2rem;
  transition: all 0.3s linear;
}
.projects .p-center:hover h6, .projects .p-center:hover p {
  font-size: medium;
}
.projects h6, .projects p {
  transition: all 0.3s linear;
  font-size: smaller;
}
.projects .project:hover .p-center {
  opacity: 1;
}
.projects .project::after {
  content: " ";
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 0.5rem;
  opacity: 0;
  border: 5px solid white;
  transition: all 0.3s linear;
}
.projects .project:hover img {
  opacity: 0.2;
}
.projects .project:hover::after {
  opacity: 1;
  transform: scale(80%);
}
.projects .gp-4 img {
  -o-object-position: 10% 40%;
     object-position: 10% 40%;
}

/* === end of section === */
/* === start of function === */
@media screen and (max-width: 568px) {
  .projects .grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 568px) {
  .projects .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 920px) {
  .projects .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 250px;
    grid-template-areas: "b b b a a a" "b b b c c d";
  }
  .projects .gp-1 {
    grid-area: a;
  }
  .projects .gp-2 {
    grid-area: b;
  }
  .projects .gp-3 {
    grid-area: c;
  }
  .projects .gp-4 {
    grid-area: d;
    -o-object-position: 10% 40%;
       object-position: 10% 40%;
  }
}
@media screen and (min-width: 1200px) {
  .projects .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas: "c c c c a a" "d d b b a a";
  }
  .projects .gp-1 {
    grid-area: a;
  }
  .projects .gp-2 {
    grid-area: b;
  }
  .projects .gp-3 {
    grid-area: c;
  }
  .projects .gp-4 img {
    grid-area: f;
  }
}
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.connect {
  padding: 3rem 0rem;
  height: 110vh;
}
.connect .shapes {
  position: relative;
  height: 100%;
}
.connect .video {
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);
          clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.connect .video-md {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.connect .message-md {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color: #84a98c;
  height: 300px;
  width: 320px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
}
.connect .message {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color: #84a98c;
  height: 420px;
  width: 500px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
}

/* === end of section === */
/* === start of function === */
@media screen and (min-width: 768px) {
  .connect {
    height: 130vh;
  }
}
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.skils {
  margin: 3rem auto;
  padding: 3rem 3rem;
  background-color: #84a98c;
}
.skils h4 {
  padding-bottom: 1rem;
}
.skils h6 {
  margin-top: 1rem;
}
.skils .progress-bar {
  background-color: #354f52;
}
.skils .html {
  width: 95%;
}
.skils .css {
  width: 85%;
}
.skils .js {
  width: 90%;
}
.skils .node {
  width: 75%;
}
.skils .python {
  width: 50%;
}
.skils .java {
  width: 65%;
}

/* === end of section === */
/* === start of function === */
@media screen and (max-width: 768px) {
  .skils .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .skils .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
.timeline {
  max-width: 80vw;
  margin: 3rem auto;
}
.timeline .title {
  padding-bottom: 3rem;
}
.timeline .item {
  position: relative;
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
  border: 2px dashed #354f52;
}
.timeline .item:nth-child(even) {
  border-left: none;
  border-bottom: none;
}
.timeline .item:nth-child(odd) {
  border-right: none;
  border-bottom: none;
}
.timeline .item:nth-child(1) {
  border-top: none;
}
.timeline .number-even, .timeline .number-odd {
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 100%;
  background-color: #354f52;
  color: #ffffff;
}
.timeline .number-even {
  left: -1.4rem;
}
.timeline .number-odd {
  right: -1.4rem;
}

/* === end of section === */
/* === start of function === */
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of section === */
/* === end of section === */
/* === start of function === */
/* === end of function === */
/* === start of variable === */
/* === end of variable === */
/* === start of footer === */
/* === end of footer  === */
/* === start of function === */
/* === end of function === *//*# sourceMappingURL=style.css.map */